.index-info {
  text-align: center;
  color: #fff;
  margin: 115px 0 25px;
  /* border: 2px solid red; */
  font-size: 20px;
  font-weight: 500;
}
.slider {
  max-width: 600px;
  aspect-ratio: 3/2;
  margin: 0 auto;
  position: relative;
  border: 2px solid rgba(0, 128, 0, 0.049);
}
.image-info {
  position: absolute;
  z-index: 1;
  right: 0;
  color: #111;
  background-color: #f1f1f16f;
  border-bottom: 1px solid #9f9f9f;
  border-left: 1px solid #9f9f9f;
  padding: 4px 8px;
  font-weight: 400;
}
.slider-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.navigation-button {
  /* display: none; */
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: 2px solid #d4d4d4;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prev-button{
    left: -60px;
}
.next-button {
  right: -60px;
}
.navigation-button img {
  width: 20px;
}
.navigation-button:hover {
  background-color: #4e4e4e84;
}
@media (max-width: 850px){
    .index-info{
        font-size: 16px;
    }
    .slider{
        max-width: 400px;
    }
    .navigation-button{
        width: 35px;
        height: 35px;
    }
    .prev-button{
        left: -45px;
    }
    .next-button{
        right: -45px;
    }
    .navigation-button img{
        width: 12px;
    }
}